.circle {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  animation: circle 5s linear infinite;
}

@keyframes circle {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: 296 296;
    transform: rotate(0deg);
  }
  100% {
    stroke-dashoffset: (-296 * 2);
    stroke-dasharray: 296 296;
    transform: rotate(360deg);
  }
}
